/* */
/* general */
/* */
body {
	background:#e6e6e6;
	}
	
.nopadgin {
	margin:0;
	padding:0;
	}	

.mt25 {
	margin-top:25px;
	}
	
.mt50 {
	margin-top:50px;
	}
	
.mt75 {
	margin-top:75px;
	}
	
.mb10 {
	margin-bottom:10px
	}	
	
/* 	*/
/* typography */
/* */
h1, h2, h3, h4, h5, h6 {
	font-family:"Montserrat",sans-serif;
	font-weight:400;
	text-transform:uppercase;
	margin:0;
	padding:0;
	}
	
p { 
	margin:0;
	padding:0;
	}
	
a {
	font-family: 'Jaldi', sans-serif;
	font-weight:400;	
	}		
		
/* */
/* Widget */
/* */
.widgetWrap {
	padding:10px;
	}

.widget {
	background:#fff;
	border:1px solid #e5e5e5;
	-webkit-box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.25);
	}

.widgetHeader {
	padding:25px 25px 21px 25px;
	background:#f8f8f8;
	border-bottom:1px solid #e5e5e5;
	}

.widgetHeader h4 {
	color:#3474a6;
	border-bottom:3px solid #3474a6;
	display:table-cell;
	}
	
.widgetHeader h4:after {
	content:"";
	display:table-cell;
	padding-top:4px;
	}

.widgetBody {
	padding:25px;
	min-height:184px;
	}
	
.widgetBody p {
	font-family: 'Jaldi', sans-serif;
	font-weight:400;	font-size:12px;
	line-height:14px;
	padding:2px 0;
	}
	
.widgetBody span {
	font-family:"Montserrat",sans-serif;
    font-weight:700;		
	color:#3474A6;
	}		

.widgetFooter {
	padding:25px;
	background:#f8f8f8;
	border-top:1px solid #e5e5e5;
	}
	
.widgetFooter {
	text-align:right;
	}	
	
/* */
/* navbar */
/* */

.navbar-toggle {
    margin-top:20px;
    margin-right:25px;
	margin-bottom:20px;
}

.navbar-inverse .navbar-toggle {
    border-color:#fff;
	}
	
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color:transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color:transparent;
}

.navbar-inverse .navbar-nav > li > a {
	font-family:"Montserrat",sans-serif;
	font-weight:400;
    color:#d8d8d8;
}

.navbar-brand {
    padding:0px;
	}	

.navbar-brand img {
    width:120px;
	height:47px;
	position:relative;
	top:14px;
	left:25px;
	}	

.navbar {
    min-height:80px;
	border-radius:0;
	margin-bottom:10px;
	}

.navbar-inverse {
    background-color:#2d3e46;
    border-color:#2d3e46;
	}	
	
.navbar-nav {
    float:right;
	}	

.navbar-nav > li > a {
    padding-top:15px;
    padding-bottom:0px;
	line-height:14px;
	}	

.navbar-inverse .navbar-nav >.active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color:#fff;
    background-color:#2d3e46;
	}
	
.navbar-inverse .navbar-nav >.active > a {
    border-bottom:3px solid #fff;
	display:table-cell;
	}	
			
.navbar-inverse .navbar-nav >.active > a:after {
    content:"";
	display:table-cell;
	padding-top:4px;
	}
	
.nav > li {
	padding:29px 15px;
	}	
	
.nav > li > a {
	padding:0;
	}
	
/* */
/* Forms */
/* */	
::-webkit-input-placeholder {
	color:#f00;
	}

::-moz-placeholder {
	color:#f00;
	} /* firefox 19+ */

:-ms-input-placeholder {
	color:#f00;
	} /* ie */

input:-moz-placeholder {
	color:#f00;
	}

input[type="search"] {
  -webkit-appearance: textfield;
	}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
	font-family:"Montserrat",sans-serif;
    font-weight:400;
	text-transform:uppercase;
	font-size:10px;
	}

.form-control {
	font-family: 'Jaldi', sans-serif;
	font-weight:400;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
    font-size: 14px;
    /*padding:11px 0px 9px 10px;*/
	line-height:24px;
    color: #444;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #727272;
    border-radius:0px;
    box-shadow:none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	}
	
.form-control:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow:none;
}

.select-target.select-theme-default,
.select.select-theme-default .select-options .select-option {
	font-family: 'Jaldi', sans-serif;
	font-weight:400;
}	
.select.select-theme-default .select-options .select-option {
	padding: 0.5rem 3em 0.5rem 2.5em!important;
}

.currency-select {
	font-family: 'Jaldi', sans-serif;
	font-weight:400;
  border-radius:0px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  outline: 1px solid #727272;
  background-color: white;
  line-height:24px;
  width: 60%;
  height: 38px;
}

.currency-select:focus {
  outline: 1px solid #66AFE9;
}

.btn_confirm, .btn_cancel {
	font-family:"Montserrat",sans-serif;
	font-weight:400;
	display:inline-block;
	box-sizing:border-box;
	cursor:pointer;
	outline:none;
	padding:10px;
	border-radius:0px;
	letter-spacing:0.25px;
	font-size:10px;
	border:0px none;
	color:#fff;
	text-align:center;
	min-width:90px;
	vertical-align:baseline;
	}	

.btn_confirm {
    background-color:#3474a6;
	}

.btn_confirm:hover,
.btn_confirm:focus {
    background-color:#2996cc;
    text-decoration:none;
    color:#fff;
	}

.btn_cancel {
    background-color:#AAB3B6;
	}

.btn_cancel:hover,
.btn_cancel:focus {
    background-color:#6E7476;
    text-decoration:none;
    color:#fff;
	}
	
.checkBox {
	padding:9px 0;
	}	
	
.checkBox span {
	font-family: 'Jaldi', sans-serif;
	font-weight:400;
	color:#444;
	font-size:14px;
	margin-left:5px;
	}	
	
/* */
/* safari validation fix */
/* */

.invalid input:required:invalid {
    border:1px solid #BE4C54;
}

.invalid input:required:valid {
    border:1px solid #17D654 ;
}	
	
/* */
/* Media Queries */
/* */
	
	@media screen and (max-width: 767px) {
		.navbar-nav {
			float:left	;
		}				
	}
	
	@media screen and (max-width: 480px) {
		.btn_confirm, .btn_cancel, .warning_btn {
			display:block;
			width:100%;
		}
			
			div.col-xs-6:nth-child(1) { padding-right:5px; }
			div.col-xs-6:nth-child(2) { padding-left:5px; }
			div.col-xs-6:nth-child(3) { padding-right:5px; }
			div.col-xs-6:nth-child(4) { padding-left:5px; }
			
		h4 {
    		font-size:12px;
		}
